.share-button {
  background: #007aff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;

  &:hover {
    background: #005ecb;
  }
}

.share-modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-list {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.contacts-list li {
	display: flex;
	align-items: center;
	gap: 20px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
	color: #333;
}
.avatar-placeholder,img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #fff;
}

.contacts-list li:hover,
.contacts-list .selected {
  background: #007aff;
  color: white;
}

.send-button {
  margin-top: 15px;
  padding: 10px 15px;
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background: #005ecb;
}
