.suggested-users-container {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
	top: 3px;

  h3 {
    font-size: 16px;
    font-weight: 600;
		color: #65676b;
		margin-bottom: 16px;
  }

  .suggested-users-list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .suggested-user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .user-info {
        display: flex;
        align-items: center;
        gap: 5px;

				img{
					width: 35px;
					height: 35px;
					object-fit: cover;
					border-radius: 50%;	
				}

				.avatar-placeholder{
				width: 35px;
				height: 35px;
				object-fit: cover;
				border-radius: 50%;
				text-align: center;
				line-height: 35px;
				}

        .user-details {
          display: flex;
          flex-direction: column;

          .username {
						margin: 0;
            font-size: 15px;
            font-weight: 500;
            color: #65676b;
						&:hover{
							color: #2563eb;
						}
          }
        }
      }

      .follow-btn {
				padding: 5px;
				border-radius: 6px;
				cursor: pointer;
				font-size: 14px;
				border: none;
				transition: background 0.3s ease, color 0.3s ease;

				&.follow {
					background-color: #007bff !important;
					color: white;
				}

				&.unfollow {
					background-color: #ddd !important;
					color: black;
				}

				&:hover {
					opacity: 0.8;
				}
			}
    }
  }
	.line{
		width: 100%;
		height: 1px;
		background-color: #eee;
		margin: 16px 0;
	}
	.policy {
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: 12px;
		margin-top: 16px;
		.policy-link {
			color: #65676b;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@media (max-width: 1200px) {
	.suggested-user{
		.username{
			font-size: 14px !important;
			font-weight: 700 !important;
			margin-right: 10px !important;
		}
	}
	.avatar-placeholder, img{
	display: none;
	}
}