.interaction-buttons {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-right: 10px;

  button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;

    &.liked {
      .icon {
        animation: softJump 0.3s ease-in-out;
        color: red;
      }
    }
  }
}

@keyframes softJump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2) translateY(-3px);
  }
  100% {
    transform: scale(1);
  }
}
.count {
  font-size: 16px;
  color: #555;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    font-size: large;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  text-align: center;
  position: relative;

  h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
  }

  ul {
		display: flex;
		flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    text-align: left;
    color: #333;
  }

  li {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;

		img{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			object-fit: cover;
			margin: 0;
			padding: 0;
			vertical-align: middle;
		}
		.avatar-placeholder {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: #ccc;
			text-align: center;
			line-height: 30px;
			color: #fff;
			}
  }
}

.modal-content button {
  border: none !important;
  background: none !important;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 8px;
  right: 1px;
  font-size: 18px;
}
h4 {
  text-align: center;
}