.comment-section {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #333;
}

.comment-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.comment-modal__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.comment-modal__close {
  border: none !important;
  background: none !important;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 8px;
  right: 1px;
  font-size: 18px;

  &:hover {
    background-color: #d32f2f;
  }
}

.comment-modal__input {
  box-sizing: border-box;
  width: 100%;
  min-height: 30px;
  padding: 22px;
  border: 1px solid #ccc;
  background: #f8f9fa;
  color: #555;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  resize: none;

  &:focus {
    outline: none;
  }
}

.comment-modal__char-count {
  text-align: right;
  color: #888;
  font-size: 12px;
}

.comment-modal__error {
  color: #f44336;
  font-size: 14px;
  text-align: center;
}

.comment-modal__cancel {
	width: 100%;
	&:hover {
		background-color: #2563eb !important;
		color: #ccc;
		border: none;
	}
}

.comment-modal__submit {
  box-sizing: border-box;
  color: white !important;
  background-color: #2563eb !important;
  border: none !important;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
	width: 100%;
	margin-top: 10px;

  &:disabled {
    background-color: #e0e0e0 !important;
    cursor: not-allowed;
  }

  &:hover {
    background-color: #2563eb !important;
    color: #ccc;
  }
}

.comment-modal__line {
  width: 90%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 0 auto;
	position: relative;
	top: 15px;
}

.comment-list {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px 0;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
  }

  .comment-list__title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;

  }

  .comment-list__item {
    font-size: 14px;
    color: #333;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;

    &:last-child {
      border-bottom: none;
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
			margin: 0;
			padding: 0;
			vertical-align: middle;
    }
    .avatar-placeholder {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ccc;
      text-align: center;
      line-height: 40px;
      color: #fff;
    }
  }
  .comment-list__header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
		margin-bottom: 10px;
  }

  .comment-list__empty {
    color: #888;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
  }
}
