.expandable-text {
	position: relative;
  p {
		padding: 10px;
    margin: 0;
    white-space: pre-line;
  }

  .toggle-button {
		padding: 10px !important;
    background: none;
    border: none;
    color: #1877f2;
    cursor: pointer;
    padding: 5px 0;
    font-size: 14px;
    text-decoration: underline;
		text-align: right;
		display: flex;
	

    &:hover {
      color: #2563eb;
    }
  }
}
