.footer {
	display: none;
  background: #121212;
  color: #ffffff;
  padding: 20px 10px;
	position: relative;
	left: 0px;
	bottom: 0px;
	box-sizing: border-box;

	
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .social-links {
    display: flex;
    gap: 15px;

    a {
      color: #ffffff;
      font-size: 1.5rem;
      transition: color 0.3s ease;

      &:hover {
        color: #00c3ff;
      }
    }
  }

  .footer-links {
    display: flex;
    gap: 15px;

    a {
      color: rgba(255, 255, 255, 0.8);
      font-size: 0.9rem;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #ffffff;
      }
    }
  }

  .contact-info {
    font-size: 0.9rem;

    a {
      color: #00c3ff;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
  }
}