.news-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 14px;
  color: #555;

  .author-name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #222;
    padding-bottom: 5px;
  }

  .news-date {
    color: #888;
    font-style: italic;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
	.news-meta {
		.author-name{
			font-size: 1.2rem;
		}
		.news-date{
			font-size: 0.85rem;
		}
	}
}
